@charset "UTF-8";
/* Margin */
/* Padding */
/* 宽 */
/* 高 */
/* 背景 */
/* 字体 */
/* 颜色 */
/* 链接 */
/* 边框 */
/* 对齐 */
/* 显示 */
/* 浮动 */
/* 清除浮动 */
/* 布局 */
/* ul样式 */
/* 表格 */
/* 轮 */
/* reset */
body, div, ul, ol, dl, li, h1, h2, h3, h4, h5, form, input, button {
  margin: 0;
  padding: 0;
  background-image: none; }

img {
  border: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

ul {
  list-style: none; }

:focus {
  outline: none; }

a {
  color: #003399;
  text-decoration: none; }
  a:hover {
    color: #dc0000;
    text-decoration: underline; }

.space0 {
  clear: both;
  height: 0;
  overflow: hidden; }

.hide {
  display: none; }

/* 背景图 */
.demo, .demo2 {
  background: none no-repeat scroll 0 0 transparent; }

/* 容器 */
.mbox {
  width: 1000px;
  margin: 0 auto; }

/* 正文用到相同背景图元素(范例) */

